<div class="step">
	<div class="title">
		三大階段
		<div class="intro">
			我們將行動分成三階段
		</div>
	</div>
	<div class="each">
		<div class="picture">
			<img src="img/about/first.svg">
		</div>
		<div class="content">
			<div class="text">
				行動形式<br>
				最小可行性行動<br>
				自己就可以做得到的事
			</div>
			<div class="text">
				行動目的<br>
				從行動中更了解議題<br>
				建立獨特的問題觀點
			</div>
		</div>
	</div>
	<div class="each">
		<div class="picture">
			<img src="img/about/second.svg">
		</div>
		<div class="content">
			<div class="text">
				行動形式<br>
				最小可行性行動<br>
				自己就可以做得到的事
			</div>
			<div class="text">
				行動目的<br>
				從行動中更了解議題<br>
				建立獨特的問題觀點
			</div>
		</div>
	</div>
	<div class="each">
		<div class="picture">
			<img src="img/about/third.svg">
		</div>
		<div class="content">
			<div class="text">
				行動形式<br>
				最小可行性行動<br>
				自己就可以做得到的事
			</div>
			<div class="text">
				行動目的<br>
				從行動中更了解議題<br>
				建立獨特的問題觀點
			</div>
		</div>
	</div>
</div>
