<div class="spirit">
	<div class="topic">三大價值主張</div>
	<div class="each">
		<img src="img/about/spirit1.png">
		<div class="text">
			主題一標題<br>
			<br>
			主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張
		</div>
	</div>
	<div class="each">
		<img src="img/about/spirit2.png"><br><br><br>
		<div class="text">
			主題一標題<br>
			<br>
			主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張
		</div>
	</div>
	<div class="each">
		<img src="img/about/spirit3.png">
		<div class="text">
			主題一標題<br>
			<br>
			主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張主題一主張
		</div>
	</div>
</div>
