<div class="about">
	我們是<span class="H">青年迴響行動提案</span><br>
	<br><br>
	以問題為根源，<br>
	以行動為推進，<br>
	以更好的社會為目標的「行動孵化計畫」<br>
	<br><br><br>
	<span class="HH">
		給這個世代的青年<br>
		一個採取行動的藉口！
	</span>
</div>

<div class="iconSet">
	<a class="actionIcon" href="about_action">
		四大行動
	</a>
	<a class="stepIcon" href="about_step">
		三大階段
	</a>
	<a class="spiritIcon" href="about_spirit">
		三大價值主張
	</a>
	<a class="triangleIcon" href="about_triangle">
		迴響金三角
	</a>
	<a class="bookIcon" href="about_book">
		迴響出版
	</a>
	<a class="timeIcon" href="about_time">
		重要時程
	</a>
</div>
