<div class="QandA">
	<div class="Q">
		<div class="topic">
			Q1　煲煲煲煲煲煲煲煲
			<span class="arrow">▼</span>
		</div>
		<div class="A">
			秉夫人，小人本著在蘇州的城邊，家中有屋又有田，生活樂無邊。誰知那唐伯虎，他蠻橫不留情，勾結官府目無天，佔我大屋奪我田。我爺爺跟他來翻臉，慘被他一棍來打扁；我奶奶罵他欺善民，反被他捉進了唐府，強姦了一百遍一百遍。最後他懸樑自盡遺恨人間。他還講我父子，逐出了家園，流落到江邊。我為求養老爹，唯有獨自行乞在廟前。誰知那唐伯虎，他實在太陰險，知道此情形，竟派人來暗算，把我父子狂毆在市前。小人身壯健，殘命得留存，可憐老父他魂歸天。此恨更難填，為求葬老爹，唯有賣身為奴自作賤，一面勤賺錢，一面讀書邊，從此唐寅詩集伴身邊，我銘記此仇不共戴天！
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			Q2　到底要不要讓我講幹話
			<span class="arrow">▼</span>
		</div>
		<div class="A">
			首先我必須承認對付偉德比對付春豔棘手，我跟春豔棋逢敵手，像是阿諾遇上馮迪索。我用著令人忌妒的呈現文字技術藝術的層面盡心盡力放手一搏盡情享受欺負著春豔。但是對付偉德我必須不斷把歌詞更新，我常常在想，這樣寫會不會傷到他的自尊心。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			Q3　狒狒
			<span class="arrow">▼</span>
		</div>
		<div class="A">
			喔。
		</div>
	</div>
	<div class="Q">
		<div class="topic">
			Q4　閃電超人
			<span class="arrow">▼</span>
		</div>
		<div class="A">
			abcdef ghijklmnopqrsitv wxyzabcdefgh ijklmnopqrsitvwxyzabcdefghi jklmnopqrsit vwxyzabcdefghijklmnopqrsitvwxyzabcdefghijkl mnopqrsit vwxyzabcdefghijklmnopqr sitvwxyzabcdefg hijklmnop qrsitvw xyzabcdefgh ijklmnop qrsit vwxyzabcdefgh ijklmnopq rsitvwxyz
		</div>
	</div>
</div>
