<div class="actionPartner">
	<div class="individual">
		<div class="name">
			名字<br>
			title
		</div>
		<img src="img/partner/ex1.png">
		<a class="readMore" href="">Read More</a>
	</div>
	<div class="individual">
		<div class="name">
			名字<br>
			title
		</div>
		<img src="img/partner/ex2.png">
		<a class="readMore" href="">Read More</a>
	</div>
	<div class="individual">
		<div class="name">
			名字<br>
			title
		</div>
		<img src="img/partner/ex3.jpg">
		<a class="readMore" href="">Read More</a>
	</div>
	<div class="individual">
		<div class="name">
			名字<br>
			title
		</div>
		<img src="img/partner/ex4.jpg">
		<a class="readMore" href="">Read More</a>
	</div>
	<div class="individual">
		<div class="name">
			名字<br>
			title
		</div>
		<img src="img/partner/ex5.png">
		<a class="readMore" href="">Read More</a>
	</div>
	<div class="individual">
		<div class="name">
			名字<br>
			title
		</div>
		<img src="img/partner/ex6.png">
		<a class="readMore" href="">Read More</a>
	</div>
</div>
