@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/style.scss */
body {
  position: relative;
  font-family: PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb !important;
  background: #006464;
  color: white;
  width: 100vw;
  height: 7.2vw;
  overflow-x: hidden;
}

/* line 15, ../sass/style.scss */
.bar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 3;
}
/* line 27, ../sass/style.scss */
.bar .burger {
  display: inline-block;
  width: 1.8em;
  margin-top: 22px;
  margin-left: 28px;
  cursor: pointer;
  vertical-align: top;
}
/* line 37, ../sass/style.scss */
.bar .burger img {
  width: 100%;
}
/* line 43, ../sass/style.scss */
.bar .logo {
  position: relative;
  display: inline-block;
  width: 11em;
  margin-top: 14px;
  margin-left: 25px;
  cursor: pointer;
}
/* line 52, ../sass/style.scss */
.bar .logo img {
  width: 100%;
}
/* line 58, ../sass/style.scss */
.bar .proposal {
  position: absolute;
  right: 50px;
  line-height: 70px;
  font-size: 1em;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

/* line 70, ../sass/style.scss */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vw;
  font-size: 0;
  z-index: 3;
  transform: translate(0, -50vw);
  background: white;
  color: black;
  display: none;
}
/* line 83, ../sass/style.scss */
.menu .circle {
  position: absolute;
  border: 2px black solid;
  border-radius: 50%;
  font-size: 16px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0.995);
  width: 100vw;
  height: 100vw;
  margin-top: 50vh;
  margin-left: -1px;
}
/* line 95, ../sass/style.scss */
.menu .circle .text {
  position: absolute;
  font-size: 1.4vw;
  line-height: 1.7vw;
  margin-top: 42.15vw;
  margin-left: 0.4vw;
  cursor: pointer;
  padding-right: 2vw;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 3vw;
}
/* line 110, ../sass/style.scss */
.menu .circle .text:hover {
  color: black;
}
/* line 116, ../sass/style.scss */
.menu .circle div {
  position: relative;
  width: 84%;
  height: 84%;
  left: 8%;
  top: 8%;
  margin-left: -1px;
  border-radius: 50%;
  border: 2px black solid;
}
/* line 126, ../sass/style.scss */
.menu .circle div .text {
  margin-top: 34vw;
  margin-left: 0.5vw;
}
/* line 133, ../sass/style.scss */
.menu .circle div div {
  width: 81%;
  height: 81%;
  left: 9.5%;
  top: 9.5%;
}
/* line 139, ../sass/style.scss */
.menu .circle div div .text {
  margin-top: 27vw;
  margin-left: 0.6vw;
}
/* line 146, ../sass/style.scss */
.menu .circle div div div {
  width: 76%;
  height: 76%;
  left: 12%;
  top: 12%;
}
/* line 152, ../sass/style.scss */
.menu .circle div div div .text {
  margin-top: 19.6vw;
  margin-left: 0.6vw;
}
/* line 159, ../sass/style.scss */
.menu .circle div div div div {
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
}
/* line 165, ../sass/style.scss */
.menu .circle div div div div .text {
  margin-top: 11.7vw;
  margin-left: 0.3vw;
}
/* line 170, ../sass/style.scss */
.menu .circle div div div div div {
  width: 58%;
  height: 58%;
  left: 21%;
  top: 21%;
}
/* line 176, ../sass/style.scss */
.menu .circle div div div div div .text {
  margin-top: 4vw;
  margin-left: 0vw;
}
/* line 181, ../sass/style.scss */
.menu .circle div div div div div div {
  width: 36%;
  height: 36%;
  left: 32%;
  top: 32%;
  line-height: 7.4vw;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
}

@media screen and (max-width: 1024px) {
  /* line 201, ../sass/style.scss */
  .menu {
    width: 200vw;
    height: 400vw;
    transform: translate(0, -100vw);
  }
  /* line 206, ../sass/style.scss */
  .menu .circle {
    width: 200vw;
    height: 200vw;
  }
}
/* line 215, ../sass/style.scss */
.LandingPage {
  position: relative;
  width: 100vw;
}

/* line 222, ../sass/style.scss */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 229, ../sass/style.scss */
.walk {
  position: absolute;
  width: 4vw;
  cursor: pointer;
  display: none;
}
/* line 235, ../sass/style.scss */
.walk img {
  position: absolute;
  width: 100%;
  top: 0;
}
/* line 241, ../sass/style.scss */
.walk .one, .walk .two, .walk .three, .walk .four {
  display: none;
}

/* line 246, ../sass/style.scss */
.house {
  position: absolute;
  width: 65vw;
  left: 51vw;
  top: 390vw;
  z-index: 2;
}

/* line 254, ../sass/style.scss */
.people {
  position: absolute;
  width: 50vw;
  left: 28vw;
  top: 248vw;
  z-index: 2;
}

/* line 262, ../sass/style.scss */
.redPerson {
  position: absolute;
  width: 5vw;
  left: 37vw;
  top: 140vw;
  z-index: 2;
}

/* line 273, ../sass/style.scss */
.logIn {
  position: relative;
  padding: 0 30%;
  padding-top: 100px;
  padding-bottom: 150px;
  font-size: 20px;
  line-height: 24px;
}
/* line 281, ../sass/style.scss */
.logIn .title {
  font-size: 24px;
}
/* line 285, ../sass/style.scss */
.logIn form {
  text-align: center;
}
/* line 288, ../sass/style.scss */
.logIn form input {
  width: 98%;
  padding-left: 2%;
  height: 35px;
  font-size: 16px;
  margin-bottom: 30px;
}
/* line 296, ../sass/style.scss */
.logIn form .btn {
  display: inline-block;
  width: 100%;
  padding-left: 3%;
  height: 35px;
  font-size: 16px;
  background: white;
  text-align: left;
  cursor: pointer;
  border: 0;
}
/* line 308, ../sass/style.scss */
.logIn form a.btn {
  color: black;
  width: 97%;
  line-height: 35px;
  text-decoration: none;
  margin-bottom: 20px;
}
/* line 316, ../sass/style.scss */
.logIn form .facebook, .logIn form .google {
  display: inline-block;
  text-align: left;
  width: 97%;
  height: 30px;
  padding: 7px 0;
  padding-left: 3%;
  line-height: 20px;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
/* line 329, ../sass/style.scss */
.logIn form .facebook img, .logIn form .google img {
  height: 100%;
  vertical-align: -40%;
}
/* line 335, ../sass/style.scss */
.logIn form .facebook {
  background: #3b5998;
  text-indent: 8px;
}
/* line 339, ../sass/style.scss */
.logIn form .facebook img {
  margin-right: 8px;
}
/* line 345, ../sass/style.scss */
.logIn form .google {
  background: #dc4e41;
}
/* line 349, ../sass/style.scss */
.logIn form a {
  color: white;
}

/* line 358, ../sass/style.scss */
.about {
  position: relative;
  width: 60%;
  padding-left: 10%;
  padding-top: 150px;
  font-size: 20px;
  line-height: 32px;
}
/* line 368, ../sass/style.scss */
.about .H {
  font-size: 28px;
  margin-left: 4px;
}
/* line 373, ../sass/style.scss */
.about .HH {
  font-size: 38px;
  line-height: 50px;
}

/* line 379, ../sass/style.scss */
.iconSet {
  position: absolute;
  right: 0;
  top: 100px;
  width: 60%;
  font-size: 22px;
  letter-spacing: 1px;
  text-indent: 1px;
}
/* line 391, ../sass/style.scss */
.iconSet a {
  color: white;
  text-decoration: none;
}
/* line 396, ../sass/style.scss */
.iconSet .actionIcon {
  position: absolute;
  cursor: not-allowed;
  top: 0;
  right: 300px;
}
/* line 402, ../sass/style.scss */
.iconSet .actionIcon:hover {
  opacity: 0.6;
}
/* line 406, ../sass/style.scss */
.iconSet .stepIcon {
  position: absolute;
  cursor: pointer;
  top: 100px;
  right: 150px;
}
/* line 412, ../sass/style.scss */
.iconSet .stepIcon:hover {
  opacity: 0.6;
}
/* line 416, ../sass/style.scss */
.iconSet .spiritIcon {
  position: absolute;
  cursor: pointer;
  top: 100px;
  right: 450px;
}
/* line 422, ../sass/style.scss */
.iconSet .spiritIcon:hover {
  opacity: 0.6;
}
/* line 426, ../sass/style.scss */
.iconSet .triangleIcon {
  position: absolute;
  cursor: not-allowed;
  top: 250px;
  right: 450px;
}
/* line 432, ../sass/style.scss */
.iconSet .triangleIcon:hover {
  opacity: 0.6;
}
/* line 436, ../sass/style.scss */
.iconSet .bookIcon {
  position: absolute;
  cursor: pointer;
  top: 250px;
  right: 150px;
}
/* line 442, ../sass/style.scss */
.iconSet .bookIcon:hover {
  opacity: 0.6;
}
/* line 446, ../sass/style.scss */
.iconSet .timeIcon {
  position: absolute;
  cursor: pointer;
  top: 380px;
  right: 300px;
}
/* line 452, ../sass/style.scss */
.iconSet .timeIcon:hover {
  opacity: 0.6;
}

/* line 461, ../sass/style.scss */
.spirit {
  position: relative;
  padding: 0 5%;
  padding-top: 110px;
  padding-bottom: 80px;
  width: 90%;
  text-align: center;
}
/* line 469, ../sass/style.scss */
.spirit .topic {
  position: relative;
  width: 100%;
  font-size: 28px;
  margin-bottom: 70px;
}
/* line 476, ../sass/style.scss */
.spirit .each {
  display: inline-block;
  margin: 0 60px;
  width: 230px;
  text-align: left;
  vertical-align: top;
  margin-bottom: 70px;
}
/* line 484, ../sass/style.scss */
.spirit .each img {
  margin-bottom: 50px;
}

/* line 490, ../sass/style.scss */
.step {
  position: relative;
  padding: 0 12%;
  padding-top: 120px;
  padding-bottom: 150px;
}
/* line 496, ../sass/style.scss */
.step .title {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 50px;
}
/* line 504, ../sass/style.scss */
.step .title .intro {
  font-size: 16px;
}
/* line 510, ../sass/style.scss */
.step .each .picture {
  position: relative;
  display: inline-block;
  border-right: 1px white solid;
  width: 24%;
  padding-bottom: 120px;
  margin: 0;
}
/* line 518, ../sass/style.scss */
.step .each .picture img {
  width: 60%;
}
/* line 523, ../sass/style.scss */
.step .each .content {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 72%;
}
/* line 530, ../sass/style.scss */
.step .each .content .text {
  display: inline-block;
  margin-top: 50px;
  width: 25%;
  margin-left: 20%;
  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 650px) {
  /* line 546, ../sass/style.scss */
  .step {
    padding-left: 10%;
    padding-right: 10%;
  }
  /* line 551, ../sass/style.scss */
  .step .each .picture {
    width: 30%;
  }
  /* line 554, ../sass/style.scss */
  .step .each .picture img {
    width: 80%;
  }
  /* line 558, ../sass/style.scss */
  .step .each .content {
    width: 65%;
  }
  /* line 561, ../sass/style.scss */
  .step .each .content .text {
    display: block;
    margin-top: 0px;
    width: 100%;
  }
  /* line 567, ../sass/style.scss */
  .step .each .content .text + .text {
    margin-top: 20px;
  }
}
/* line 576, ../sass/style.scss */
.time {
  position: relative;
  padding-left: 12%;
  padding-top: 150px;
  padding-bottom: 150px;
}
/* line 584, ../sass/style.scss */
.time .each .content {
  position: relative;
  display: inline-block;
  border-right: 1px white solid;
  width: 55%;
  padding-bottom: 100px;
}
/* line 591, ../sass/style.scss */
.time .each .content .text {
  position: absolute;
  display: inline-block;
  vertical-align: 150%;
  width: 45%;
  right: 15%;
  font-size: 15px;
  line-height: 20px;
}
/* line 600, ../sass/style.scss */
.time .each .content .text h1 {
  font-size: 20px;
  line-height: 28px;
}
/* line 607, ../sass/style.scss */
.time .each .day {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding-left: 8%;
  font-size: 16px;
  line-height: 22px;
}
/* line 616, ../sass/style.scss */
.time .each .day .right {
  text-indent: 30px;
}

@media screen and (max-width: 650px) {
  /* line 625, ../sass/style.scss */
  .time {
    padding-left: 0%;
  }
  /* line 630, ../sass/style.scss */
  .time .each .content {
    width: 50%;
    padding-bottom: 400px;
  }
  /* line 634, ../sass/style.scss */
  .time .each .content img {
    display: none;
  }
  /* line 638, ../sass/style.scss */
  .time .each .content .text {
    width: 70%;
    right: 10%;
  }
  /* line 643, ../sass/style.scss */
  .time .each .day {
    width: 200px;
    position: absolute;
    right: 0;
  }
}
/* line 653, ../sass/style.scss */
.flipbook-viewport {
  margin-top: 150px;
}

/* line 662, ../sass/style.scss */
.QandA {
  position: relative;
  padding-top: 120px;
}
/* line 666, ../sass/style.scss */
.QandA .Q {
  position: relative;
  font-size: 19px;
  width: 86%;
  left: 7%;
  margin-bottom: 20px;
  cursor: pointer;
}
/* line 674, ../sass/style.scss */
.QandA .Q .topic {
  border: 2px white solid;
  width: 97%;
  padding: 15px 0;
  padding-left: 3%;
}
/* line 681, ../sass/style.scss */
.QandA .Q .arrow {
  position: absolute;
  right: 30px;
}
/* line 686, ../sass/style.scss */
.QandA .Q .A {
  width: 94%;
  margin-top: 15px;
  padding: 15px 3%;
  border: 2px white solid;
  height: 0;
  font-size: 17px;
  line-height: 22px;
  overflow: hidden;
  animation-name: QandA;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: none;
  cursor: auto;
}

@keyframes QandA {
  from {
    padding: 0 3%;
    height: 0;
  }
  to {
    padding: 15px 3%;
    height: 120px;
  }
}
/* line 721, ../sass/style.scss */
.actionPartner {
  position: relative;
  width: 90%;
  padding: 0 5%;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
/* line 729, ../sass/style.scss */
.actionPartner .individual {
  position: relative;
  display: inline-block;
  width: 235px;
  height: 220px;
  margin: 20px;
  vertical-align: top;
  text-decoration: none;
  color: black;
  overflow: hidden;
  font-size: 190px;
  line-height: 190px;
  border: 2px black solid;
}
/* line 746, ../sass/style.scss */
.actionPartner .individual .name {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  padding: 7px 0;
  top: 0;
  background: white;
  border-bottom: 2px black solid;
}
/* line 757, ../sass/style.scss */
.actionPartner .individual img {
  max-width: 100%;
}
/* line 762, ../sass/style.scss */
.actionPartner .individual .readMore {
  position: absolute;
  right: -52px;
  bottom: -52px;
  width: 100px;
  height: 100px;
  font-size: 13px;
  line-height: 18px;
  transform: rotate(-45deg);
  color: black;
  text-decoration: none;
  background: white;
  border: 2px black solid;
}

/* line 780, ../sass/style.scss */
.attention {
  position: relative;
  padding: 0 10%;
  padding-top: 160px;
  padding-bottom: 120px;
}
/* line 786, ../sass/style.scss */
.attention .title {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
/* line 792, ../sass/style.scss */
.attention ul {
  margin-top: 50px;
  padding-left: 12%;
}
/* line 796, ../sass/style.scss */
.attention ul li {
  list-style-type: upper-roman;
  font-size: 18px;
  line-height: 28px;
}
/* line 803, ../sass/style.scss */
.attention .btnArea {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 90px;
}
/* line 809, ../sass/style.scss */
.attention .btnArea .btn {
  position: relative;
  padding: 18px 35px;
  font-size: 18px;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
/* line 818, ../sass/style.scss */
.attention .btnArea .btn:hover {
  background: white;
  color: #000066;
}

/* line 826, ../sass/style.scss */
.form {
  position: relative;
  padding: 150px 12%;
  font-size: 16px;
  line-height: 24px;
}
/* line 832, ../sass/style.scss */
.form .title {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
/* line 838, ../sass/style.scss */
.form .right {
  margin-left: 4%;
}
/* line 842, ../sass/style.scss */
.form ul {
  margin-left: 3%;
}
/* line 844, ../sass/style.scss */
.form ul li {
  list-style-type: upper-roman;
}
/* line 849, ../sass/style.scss */
.form h1 {
  font-size: 20px;
}
/* line 853, ../sass/style.scss */
.form input {
  margin: 15px 2%;
  margin-left: 0;
  padding-left: 1%;
  width: 44%;
  height: 30px;
  font-size: 16px;
}
/* line 862, ../sass/style.scss */
.form textarea {
  width: 92%;
  padding-left: 1%;
  height: 70px;
  padding-top: 10px;
  font-size: 16px;
  margin-top: 12px;
}
/* line 871, ../sass/style.scss */
.form select {
  font-size: 16px;
  width: 200px;
  margin-top: 10px;
}
/* line 877, ../sass/style.scss */
.form .intro {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  font-size: 14px;
  line-height: 22px;
}
/* line 885, ../sass/style.scss */
.form .wide {
  width: 92%;
}
/* line 889, ../sass/style.scss */
.form .btnSet {
  position: relative;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
/* line 895, ../sass/style.scss */
.form .btnSet .btn {
  display: inline-block;
  width: 150px;
  height: 40px;
  font-size: 16px;
  margin: 0 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background: white;
  border: 0;
  vertical-align: top;
  color: black;
}
/* line 908, ../sass/style.scss */
.form .btnSet a {
  line-height: 40px;
  text-decoration: none;
}

/* line 915, ../sass/style.scss */
.wall {
  position: relative;
  padding-top: 130px;
  text-align: center;
}
/* line 920, ../sass/style.scss */
.wall .proposal {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 320px;
  margin: 0px 2%;
  margin-bottom: 100px;
  line-height: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 2px solid white;
}
/* line 935, ../sass/style.scss */
.wall .proposal .HWM {
  position: relative;
  padding: 25px;
  text-align: left;
}
/* line 941, ../sass/style.scss */
.wall .proposal .picture {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 949, ../sass/style.scss */
.wall .proposal .picture .black {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
}
/* line 959, ../sass/style.scss */
.wall .proposal .picture img {
  width: 100%;
}
/* line 964, ../sass/style.scss */
.wall .proposal .content {
  position: relative;
  padding: 25px;
  text-align: left;
}
/* line 970, ../sass/style.scss */
.wall .proposal .sentence {
  position: relative;
  width: 76%;
  left: 12%;
  bottom: 0;
  text-align: center;
  padding-bottom: 50px;
}
/* line 980, ../sass/style.scss */
.wall .proposal .location {
  position: absolute;
  right: 35px;
  margin-top: -35px;
}
/* line 988, ../sass/style.scss */
.wall .proposal:hover .picture .black {
  transition-duration: 0.5s;
}

/* line 997, ../sass/style.scss */
.proposalPage {
  position: relative;
  padding: 0 10%;
  padding-top: 180px;
  padding-bottom: 150px;
  font-size: 20px;
}
/* line 1005, ../sass/style.scss */
.proposalPage .title {
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 1010, ../sass/style.scss */
.proposalPage .map {
  position: relative;
  display: inline-block;
  width: 63%;
  margin-left: -20px;
  margin-top: 50px;
}
/* line 1017, ../sass/style.scss */
.proposalPage .map .mapImg {
  position: absolute;
  width: 25%;
  top: 100px;
}
/* line 1023, ../sass/style.scss */
.proposalPage .map .dialogImg {
  position: absolute;
  width: 80%;
  left: 20%;
}
/* line 1029, ../sass/style.scss */
.proposalPage .map .dialog {
  position: absolute;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  width: 50%;
  top: 50px;
  left: 40%;
}
/* line 1040, ../sass/style.scss */
.proposalPage .picture {
  display: inline-block;
  margin-left: 2%;
  width: 33%;
}
/* line 1045, ../sass/style.scss */
.proposalPage .picture img {
  width: 100%;
  vertical-align: top;
}
/* line 1051, ../sass/style.scss */
.proposalPage .quote {
  position: relative;
  margin-top: 70px;
  width: 40%;
  left: 7%;
  text-align: center;
}
/* line 1059, ../sass/style.scss */
.proposalPage .quote img {
  position: absolute;
  left: 0;
  top: -16px;
  width: 30px;
}
/* line 1065, ../sass/style.scss */
.proposalPage .quote img + img {
  top: 0;
  left: 95%;
}

@media screen and (max-width: 1024px) {
  /* line 1074, ../sass/style.scss */
  .proposalPage .map {
    width: 110%;
    margin-left: -45px;
  }
  /* line 1078, ../sass/style.scss */
  .proposalPage .map .mapImg {
    display: none;
  }
  /* line 1081, ../sass/style.scss */
  .proposalPage .map .dialogImg {
    position: relative;
    width: 100%;
    left: 0;
  }
  /* line 1086, ../sass/style.scss */
  .proposalPage .map .dialog {
    position: absolute;
    width: 65%;
    left: 24%;
  }
  /* line 1092, ../sass/style.scss */
  .proposalPage .picture {
    display: none;
  }
  /* line 1095, ../sass/style.scss */
  .proposalPage .quote {
    width: 86%;
  }
}
