/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

body {
	position: relative;
	font-family: PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb !important;
	background: #006464;
	color: white;
	width: 100vw;
	height: 7.2vw;
	overflow-x: hidden;
}

.bar {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	z-index: 3;

	// background: #000066;
	// border-bottom: 2px black solid;

	.burger {
		display: inline-block;
		// height: 34px;
		// width: 26px;
		width: 1.8em;
		margin-top: 22px;
		margin-left: 28px;
		cursor: pointer;
		vertical-align: top;

		img {
			// height: 100%;
			width: 100%;
		}
	}

	.logo {
		position: relative;
		display: inline-block;
		// height: 64px;
		width: 11em;
		margin-top: 14px;
		margin-left: 25px;
		cursor: pointer;

		img {
			// height: 100%;
			width: 100%;
		}
	}

	.proposal {
		position: absolute;
		right: 50px;
		line-height: 70px;
		// font-size: 16px;
		font-size: 1em;
		letter-spacing: 1px;
		color: white;
		text-decoration: none;
	}
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 200vw;
	font-size: 0;
	z-index: 3;
	transform: translate(0, -50vw);
	background: white;
	color: black;
	display: none;

	.circle {
		position: absolute;
		border: 2px black solid;
		border-radius: 50%;
		font-size: 16px;
		// text-indent: 30px;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0.995);
		width: 100vw;
		height: 100vw;
		margin-top: 50vh;
		margin-left: -1px;

		.text {
			position: absolute;
			font-size: 1.4vw;
			// line-height: 102vw;
			line-height: 1.7vw;
			margin-top: 42.15vw;
			margin-left: 0.4vw;
			// text-indent: 1.4vw;
			cursor: pointer;
			padding-right: 2vw;
			color: rgba(0, 0, 0, 0.5);
			text-decoration: none;
			padding: 3vw;
			// background: red;

			&:hover {
				color: rgba(0, 0, 0, 1);
			}
		}


			div {
				position: relative;
				width: 84%;
				height: 84%;
				left: 8%;
				top: 8%;
				margin-left: -1px;
				border-radius: 50%;
				border: 2px black solid;

				.text {
					// line-height: 84.8vw;
					margin-top: 34vw;
					// text-indent: 1.3vw;
					margin-left: 0.5vw;
				}

				div {
					width: 81%;
					height: 81%;
					left: 9.5%;
					top: 9.5%;

					.text {
						// line-height: 68.2vw;
						margin-top: 27vw;
						// text-indent: 1.1vw;
						margin-left: 0.6vw;
					}

					div {
						width: 76%;
						height: 76%;
						left: 12%;
						top: 12%;

						.text {
							// line-height: 52vw;
							margin-top: 19.6vw;
							// text-indent: 0.8vw;
							margin-left: 0.6vw;
						}

						div {
							width: 70%;
							height: 70%;
							left: 15%;
							top: 15%;

							.text {
								margin-top: 11.7vw;
								margin-left: 0.3vw;
							}

							div {
								width: 58%;
								height: 58%;
								left: 21%;
								top: 21%;

								.text {
									margin-top: 4vw;
									margin-left: 0vw;
								}

								div {
									width: 36%;
									height: 36%;
									left: 32%;
									top: 32%;

									line-height: 7.4vw;
									text-align: center;
									cursor: pointer;
									font-size: 22px;
								}
							}
						}
					}
				}
			}
	}
}

@media screen and (max-width: 1024px) {
	.menu {
		width: 200vw;
		height: 400vw;
		transform: translate(0, -100vw);

		.circle {
			width: 200vw;
			height: 200vw;
			// margin-top: 0;
		}
	}
}


.LandingPage {
	position: relative;
	width: 100vw;
	// height: 680vw;
	// overflow: hidden;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.walk {
	position: absolute;
	width: 4vw;
	cursor: pointer;
	display: none;

	img {
		position: absolute;
		width: 100%;
		top: 0;
	}

	.one, .two, .three, .four {
		display: none;
	}
}

.house {
	position: absolute;
	width: 65vw;
	left: 51vw;
	top: 390vw;
	z-index: 2;
}

.people {
	position: absolute;
	width: 50vw;
	left: 28vw;
	top: 248vw;
	z-index: 2;
}

.redPerson {
	position: absolute;
	width: 5vw;
	left: 37vw;
	top: 140vw;
	z-index: 2;
}


// Log In

.logIn {
	position: relative;
	padding: 0 30%;
	padding-top: 100px;
	padding-bottom: 150px;
	font-size: 20px;
	line-height: 24px;

	.title {
		font-size: 24px;
	}

	form {
		text-align: center;

		input {
			width: 98%;
			padding-left: 2%;
			height: 35px;
			font-size: 16px;
			margin-bottom: 30px;
		}

		.btn {
			display: inline-block;
			width: 100%;
			padding-left: 3%;
			height: 35px;
			font-size: 16px;
			background: white;
			text-align: left;
			cursor: pointer;
			border: 0;
		}

		a.btn {
			color: black;
			width: 97%;
			line-height: 35px;
			text-decoration: none;
			margin-bottom: 20px;
		}

		.facebook, .google {
			display: inline-block;
			text-align: left;
			width: 97%;
			height: 30px;
			padding: 7px 0;
			padding-left: 3%;
			line-height: 20px;
			border-radius: 8px;
			font-size: 18px;
			letter-spacing: 0.5px;
			margin-bottom: 30px;

			img {
				height: 100%;
				vertical-align: -40%;
			}
		}

		.facebook {
			background: #3b5998;
			text-indent: 8px;

			img {
				margin-right: 8px;

			}
		}

		.google {
			background: #dc4e41;
		}

		a {
			color: white;
		}
	}
}


// 關於迴響

.about {
	position: relative;
	width: 60%;
	padding-left: 10%;
	padding-top: 150px;
	font-size: 20px;
	line-height: 32px;

	// height: 500px;
	// background: red;
	.H {
		font-size: 28px;
		margin-left: 4px;
	}

	.HH {
		font-size: 38px;
		line-height: 50px;
	}
}

.iconSet {
	position: absolute;
	right: 0;
	top: 100px;
	width: 60%;
	font-size: 22px;
	letter-spacing: 1px;
	text-indent: 1px;

	// height: 500px;
	// background: red;

	a {
		color: white;
		text-decoration: none;
	}

	.actionIcon {
		position: absolute;
		cursor: not-allowed;
		top: 0;
		right: 300px;

		&:hover {
			opacity: 0.6;
		}
	}
	.stepIcon {
		position: absolute;
		cursor: pointer;
		top: 100px;
		right: 150px;

		&:hover {
			opacity: 0.6;
		}
	}
	.spiritIcon {
		position: absolute;
		cursor: pointer;
		top: 100px;
		right: 450px;

		&:hover {
			opacity: 0.6;
		}
	}
	.triangleIcon {
		position: absolute;
		cursor: not-allowed;
		top: 250px;
		right: 450px;

		&:hover {
			opacity: 0.6;
		}
	}
	.bookIcon {
		position: absolute;
		cursor: pointer;
		top: 250px;
		right: 150px;

		&:hover {
			opacity: 0.6;
		}
	}
	.timeIcon {
		position: absolute;
		cursor: pointer;
		top: 380px;
		right: 300px;

		&:hover {
			opacity: 0.6;
		}
	}
}


// 三大價值主張

.spirit {
	position: relative;
	padding: 0 5%;
	padding-top: 110px;
	padding-bottom: 80px;
	width: 90%;
	text-align: center;

	.topic {
		position: relative;
		width: 100%;
		font-size: 28px;
		margin-bottom: 70px;
	}

	.each {
		display: inline-block;
		margin: 0 60px;
		width: 230px;
		text-align: left;
		vertical-align: top;
		margin-bottom: 70px;

		img {
			margin-bottom: 50px;
		}
	}
}

.step {
	position: relative;
	padding: 0 12%;
	padding-top: 120px;
	padding-bottom: 150px;

	.title {
		position: relative;
		text-align: center;
		width: 100%;
		font-size: 30px;
		line-height: 42px;
		margin-bottom: 50px;

		.intro {
			font-size: 16px;
		}
	}

	.each {
		.picture {
			position: relative;
			display: inline-block;
			border-right: 1px white solid;
			width: 24%;
			padding-bottom: 120px;
			margin: 0;

			img {
				width: 60%;
			}
		}

		.content {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 72%;
			// background: black;

			.text {
				display: inline-block;
				margin-top: 50px;
				width: 25%;
				margin-left: 20%;
				font-size: 16px;
				line-height: 22px;
				// background: red;
			}
		}

	}
}

@media screen and (max-width: 650px) {

	.step {
		padding-left: 10%;
		padding-right: 10%; 

		.each {
			.picture {
				width: 30%;

				img {
					width: 80%;
				}
			}
			.content {
				width: 65%;

				.text {
					display: block;
					margin-top: 0px;
					width: 100%;
				}

				.text+.text {
					margin-top: 20px;
				}
			}
		}
	}
}


.time {
	position: relative;
	// padding: 0 12%;
	padding-left: 12%;
	padding-top: 150px;
	padding-bottom: 150px;

	.each {
		.content {
			position: relative;
			display: inline-block;
			border-right: 1px white solid;
			width: 55%;
			padding-bottom: 100px;

			.text {
				position: absolute;
				display: inline-block;
				vertical-align: 150%;
				width: 45%;
				right: 15%;
				font-size: 15px;
				line-height: 20px;

				h1 {
					font-size: 20px;
					line-height: 28px;
				}
			}
		}

		.day {
			display: inline-block;
			vertical-align: top;
			// background: red;
			width: 25%;
			padding-left: 8%;
			font-size: 16px;
			line-height: 22px;

			.right {
				text-indent: 30px;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	
	.time {
		padding-left: 0%;

		.each {

			.content {
				width: 50%;
				padding-bottom: 400px;

				img {
					display: none;
				}

				.text {
					width: 70%;
					right: 10%;
				}
			}
			.day {
				width: 200px;
				position: absolute;
				right: 0;
			}
		}
	}
}


.flipbook-viewport {
	margin-top: 150px;
}




// 活動辦法

.QandA {
	position: relative;
	padding-top: 120px;

	.Q {
		position: relative;
		font-size: 19px;
		width: 86%;
		left: 7%;
		margin-bottom: 20px;
		cursor: pointer;

		.topic {
			border: 2px white solid;
			width: 97%;
			padding: 15px 0;
			padding-left: 3%;
		}

		.arrow {
			position: absolute;
			right: 30px;
		}

		.A {
			width: 94%;
			margin-top: 15px;
			padding: 15px 3%;
			border: 2px white solid;
			height: 0;
			font-size: 17px;
			line-height: 22px;
			overflow: hidden;
			animation-name: QandA;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			display: none;
			cursor: auto;
		}
	}
}

@keyframes QandA {
	from {
		padding: 0 3%;
	 	height: 0;
	}

	to {
		padding: 15px 3%;
	 	height: 120px;
	}
}




// 行動大使

.actionPartner {
	position: relative;
	width: 90%;
	padding: 0 5%;
	padding-top: 120px;
	padding-bottom: 120px;
	text-align: center;

	.individual {
		position: relative;
		display: inline-block;
		width: 235px;
		height: 220px;
		margin: 20px;
		vertical-align: top;
		text-decoration: none;
		color: black;
		overflow: hidden;

		// for img
		font-size: 190px;
		line-height: 190px;

		border: 2px black solid;

		.name {
			position: relative;
			font-size: 16px;
			line-height: 18px;
			padding: 7px 0;
			top: 0;

			background: white;
			border-bottom: 2px black solid;
		}

		img {
			max-width: 100%;
			// max-height: 100%; 
		}

		.readMore {
			position: absolute;
			right: -52px;
			bottom: -52px;
			width: 100px;
			height: 100px;
			font-size: 13px;
			line-height: 18px;
			transform: rotate(-45deg);

			color: black;
			text-decoration: none;
			background: white;
			border: 2px black solid;
		}
	}	
}

.attention {
	position: relative;
	padding: 0 10%;
	padding-top: 160px;
	padding-bottom: 120px;

	.title {
		width: 100%;
		text-align: center;
		font-size: 20px;
	}

	ul {
		margin-top: 50px;
		padding-left: 12%;

		li {
			list-style-type: upper-roman;
			font-size: 18px;
			line-height: 28px;
		}
	}

	.btnArea {
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: 90px;

		.btn {
			position: relative;
			padding: 18px 35px;
			font-size: 18px;
			border: 1px solid white;
			cursor: pointer;
			color: white;
			text-decoration: none;

			&:hover {
				background: white;
				color: #000066;
			}
		}
	}
}

.form {
	position: relative;
	padding: 150px 12%;
	font-size: 16px;
	line-height: 24px;

	.title {
		width: 100%;
		text-align: center;
		font-size: 20px;
	}

	.right {
		margin-left: 4%;
	}

	ul {
		margin-left: 3%;
		li {
			list-style-type: upper-roman;
		}
	}

	h1 {
		font-size: 20px;
	}

	input {
		margin: 15px 2%;
		margin-left: 0;
		padding-left: 1%;
		width: 44%;
		height: 30px;
		font-size: 16px;
	}
	
	textarea {
		width: 92%;
		padding-left: 1%;
		height: 70px;
		padding-top: 10px;
		font-size: 16px;
		margin-top: 12px;
	}

	select {
		font-size: 16px;
		width: 200px;
		margin-top: 10px;
	}

	.intro {
		display: inline-block;
		width: 45%;
		vertical-align: top;
		font-size: 14px;
		line-height: 22px;
	}

	.wide {
		width: 92%;
	}

	.btnSet {
		position: relative;
		text-align: center;
		margin-top: 50px;
		width: 100%;

		.btn {
			display: inline-block;
			width: 150px;
			height: 40px;
			font-size: 16px;
			margin: 0 20px;
			margin-bottom: 20px;
			cursor: pointer;
			background: white;
			border: 0;
			vertical-align: top;
			color: black;
		}
		a {
			line-height: 40px;
			text-decoration: none;
		}
	}
}

.wall {
	position: relative;
	padding-top: 130px;
	text-align: center;

	.proposal {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 320px;
		// height: 400px;
		margin: 0px 2%;
		margin-bottom: 100px;
		line-height: 20px;
		cursor: pointer;
		color: white;
		text-decoration: none;
		// background: white;
		border: 2px solid white;

		.HWM {
			position: relative;
			padding: 25px;
			text-align: left;
		}

		.picture {
			position: relative;
			width: 100%;
			// height: 300px;
			// border-radius: 50%;
			overflow: hidden;
			// background: blue;

			.black {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				// border-radius: 50%;
				background: black;
				opacity: 0;
			}

			img {
				width: 100%;
			}
		}

		.content {
			position: relative;
			padding: 25px;
			text-align: left;
		}

		.sentence {
			position: relative;
			width: 76%;
			left: 12%;
			bottom: 0;
			text-align: center;
			// font-size: 18px;
			padding-bottom: 50px;
		}
		
		.location {
			position: absolute;
			right: 35px;
			margin-top: -35px;
		}

		&:hover {
			.picture {
				.black {
					// opacity: 0.5;
					transition-duration: 0.5s;
				}
			}
		}
	}
}

.proposalPage {
	position: relative;
	padding: 0 10%;
	padding-top: 180px;
	padding-bottom: 150px;
	font-size: 20px;


	.title {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.map {
		position: relative;
		display: inline-block;
		width: 63%;
		margin-left: -20px;
		margin-top: 50px;

		.mapImg {
			position: absolute;
			width: 25%;
			top: 100px;
		}

		.dialogImg {
			position: absolute;
			width: 80%;
			left: 20%;
		}

		.dialog {
			position: absolute;
			font-size: 18px;
			letter-spacing: 1px;
			line-height: 26px;
			width: 50%;
			top: 50px;
			left: 40%;
		}
	}

	.picture {
		display: inline-block;
		margin-left: 2%;
		width: 33%;

		img {
			width: 100%;
			vertical-align: top;
		}
	}

	.quote {
		position: relative;
		margin-top: 70px;
		width: 40%;
		left: 7%;
		text-align: center;
		// background: red;

		img {
			position: absolute;
			left: 0;
			top: -16px;
			width: 30px;
		}
		img+img {
			top: 0;
			left: 95%;
		}
	}
}

@media screen and (max-width: 1024px) {
	.proposalPage {
		.map {
			width: 110%;
			margin-left: -45px;

			.mapImg {
				display: none;
			}
			.dialogImg {
				position: relative;
				width: 100%;
				left: 0;
			}
			.dialog {
				position: absolute;
				width: 65%;
				left: 24%;
			}
		}
		.picture {
			display: none;
		}
		.quote {
			width: 86%;
		}
	}
}


@media screen and (max-width: 1024px) {

}
