/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

$green: #006464;
$grey: #efefef;
$orange: #ff8b38;
$lightGreen: #6cffbd;
$yellow: #ffcd32;

body {
	position: relative;
	font-family: PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb !important;
	background: $green;
	color: white;
	width: 100vw;
	height: 7.2vw;
	overflow-x: hidden;
}

.bar {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	z-index: 3;

	// background: #000066;
	// border-bottom: 2px black solid;

	.burger {
		display: inline-block;
		// height: 34px;
		// width: 26px;
		width: 1.8em;
		margin-top: 22px;
		margin-left: 28px;
		cursor: pointer;
		vertical-align: top;

		img {
			// height: 100%;
			width: 100%;
		}
	}

	.logo {
		position: relative;
		display: inline-block;
		// height: 64px;
		width: 5em;
		margin-top: 14px;
		margin-left: 25px;
		cursor: pointer;

		img {
			// height: 100%;
			width: 100%;
		}
	}

	.proposal {
		position: absolute;
		right: 50px;
		line-height: 70px;
		// font-size: 16px;
		font-size: 1em;
		letter-spacing: 1px;
		color: white;
		text-decoration: none;
	}
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 200vw;
	font-size: 0;
	z-index: 3;
	transform: translate(0, -50vw);
	background: $green;
	color: black;
	display: none;

	.circle {
		position: absolute;
		border: 5px #3c9195 solid;
		border-radius: 50%;
		font-size: 16px;
		// text-indent: 30px;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0.995);
		width: 100vw;
		height: 100vw;
		margin-top: 50vh;
		margin-left: -1px;

		.text {
			position: absolute;
			font-size: 1.4vw;
			// line-height: 102vw;
			line-height: 1.7vw;
			margin-top: 46.1vw;
			margin-left: 0.4vw;
			right: 0;
			// text-indent: 1.4vw;
			cursor: pointer;
			padding-right: 2vw;
			font-weight: bold;
			color: #ff7167;
			text-decoration: none;
			padding: 3vw;
			// background: red;

			&:hover {
				// color: rgba(0, 0, 0, 1);
			}
		}


			div {
				position: relative;
				width: 84%;
				height: 84%;
				left: 8%;
				top: 8%;
				margin-left: -1px;
				border-radius: 50%;
				border: 5px #3c9195 solid;

				.text {
					// line-height: 84.8vw;
					margin-top: 37.72vw;
					// text-indent: 1.3vw;
					margin-left: 0.5vw;
					color: #ffa054;
				}

				div {
					width: 81%;
					height: 81%;
					left: 9.5%;
					top: 9.5%;

					.text {
						// line-height: 68.2vw;
						margin-top: 29.35vw;
						// text-indent: 1.1vw;
						margin-left: 0.6vw;
						color: #ffcd32;
					}

					div {
						width: 76%;
						height: 76%;
						left: 12%;
						top: 12%;

						.text {
							// line-height: 52vw;
							margin-top: 20.8vw;
							// text-indent: 0.8vw;
							margin-left: 0.6vw;
							color: #6bffba;
						}

						div {
							width: 70%;
							height: 70%;
							left: 15%;
							top: 15%;

							.text {
								margin-top: 12.7vw;
								margin-left: 0.3vw;
								color: #96aeff;
							}

							div {
								width: 58%;
								height: 58%;
								left: 21%;
								top: 21%;

								.text {
									margin-top: 4.7vw;
									margin-left: 0vw;
									color: $grey;
								}

								div {
									width: 36%;
									height: 36%;
									left: 32%;
									top: 32%;

									line-height: 7.6vw;
									text-align: center;
									cursor: pointer;
									font-size: 22px;
									color: #3c9195;
									font-weight: bold;
								}
							}
						}
					}
				}
			}
	}
}

@media screen and (max-width: 1024px) {
	.menu {
		width: 200vw;
		height: 400vw;
		transform: translate(-100vw, -100vw);

		.circle {
			width: 200vw;
			height: 200vw;
			// margin-top: 0;

			.text {
				font-size: 18px;
				line-height: 18px;
				margin-top: 95vw;
				margin-right: 16px;
			}
			div {
				.text {
					margin-top: 78.5vw;
				}
				div {
					.text {
						margin-top: 61.8vw;
					}
					div {
						.text {
							margin-top: 45vw;
						}
						div {
							.text {
								margin-top: 28.8vw;
							}
							div {
								.text {
									margin-top: 12.9vw;
								}
								.final {
									line-height: 15vw;
								}
							}
						}
					}
				}
			}
		}
	}
}


.LandingPage {
	position: relative;
	width: 100vw;
	// height: 680vw;
	// overflow: hidden;
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.walk {
		position: absolute;
		top: 8900px;
		left: 250px;
		width: 4vw;
		// margin-left: -250px;
		cursor: pointer;
		display: none;

		img {
			position: absolute;
			width: 100%;
			top: 0;
		}

		.one, .two, .three, .four {
			display: none;
		}
	}

	.walkAnimation {
		animation-name: walkLeft;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
	}

	@keyframes walkLeft {
		0% {
			margin-left: -250px;
		}

		100% {
			margin-left: 0px;
		}
	}

	.largeLogo {
		position: absolute;
		width: 15vw;
		left: 43vw;
		top: 7.5vw;
		z-index: 2;
		display: none;
	}
	.brickOne {
		position: absolute;
		width: 3.5vw;
		left: 43vw;
		top: 29vw;
		z-index: 2;
		cursor: pointer;
		animation-iteration-count: infinite;
	}
	.brickTwo {
		position: absolute;
		width: 3.5vw;
		left: 48.75vw;
		top: 29vw;
		z-index: 2;
		cursor: pointer;
		animation-iteration-count: infinite;
	}
	.brickThree {
		position: absolute;
		width: 3.5vw;
		left: 54.5vw;
		top: 29vw;
		z-index: 2;
		cursor: pointer;
		animation-iteration-count: infinite;
	}
	.gold {
		position: absolute;
		width: 1.8vw;
		left: 43.85vw;
		top: 29.5vw;
		z-index: 1;
	}

	.goldArea {
		position: absolute;
		width: 8vw;
		left: 7vw;
		top: 6vw;
		font-size: 1.2em;
		color: $lightGreen;
		font-weight: bold;
		letter-spacing: 2px;
		display: none;

		.goldTwo {
			width: 1.8vw;
			vertical-align: -20%;
		}
	}

	.sentence {
		position: absolute;
		width: 100%;
		text-align: center;
		color: $yellow;
		top: 16vw;
		z-index: 1;
		font-size: 2.4vw;
		letter-spacing: 0.15vw;
		text-indent: 1.45vw;
		// animation-iteration-count: infinite;
		animation-duration: 1s;
		display: none;
	}


	.proposal {
		position: absolute;
		left: 65vw;
		top: 7vw;
		display: inline-block;
		vertical-align: top;
		width: 280px;
		// height: 400px;
		margin: 0px 2.5%;
		margin-bottom: 100px;
		line-height: 20px;
		cursor: pointer;
		color: white;
		text-decoration: none;
		background: $green;
		border: 4px solid white;
		border-radius: 4px;
		display: none;

		.HWM {
			position: relative;
			padding: 20px;
			text-align: left;
			color: $yellow;
			font-weight: bold;
			letter-spacing: 1px;
		}

		.picture {
			position: relative;
			width: 100%;
			height: 280px;
			// border-radius: 50%;
			overflow: hidden;
			// background: blue;
			margin-bottom: 20px;

			.content {
				position: absolute;
				top: 0;
				font-size: 14px;
				line-height: 18px;
				padding: 25px;
				text-align: left;
				z-index: 2;
				opacity: 0;

				.name {
					width: 100%;
					text-align: center;
					margin-top: 30px;
					margin-bottom: 60px;
					font-size: 16px;
				}
			}

			img {
				height: 100%;
			}
		}

		.hashtag {
			position: relative;
			font-size: 14px;
			font-weight: bold;
			width: 76%;
			left: 0%;
			bottom: 0;
			text-align: center;
			// font-size: 18px;
			padding-bottom: 16px;
			color: $lightGreen;
		}

		.location {
			position: absolute;
			font-size: 14px;
			font-weight: bold;
			right: 20px;
			margin-top: -40px;
			color: $lightGreen;

			img {
				vertical-align: middle;
			}
		}

		&:hover {
			.picture {
				img {
					transition-duration: 0.5s;
					filter: grayscale(100%) blur(8px) brightness(50%);
				}
				.content {
					transition-duration: 0.5s;
					opacity: 1;
				}
			}
		}
	}

}


// Log In

.logIn {
	position: relative;
	padding: 0 30%;
	padding-top: 100px;
	padding-bottom: 150px;
	font-size: 20px;
	line-height: 24px;

	.title {
		font-size: 24px;
	}

	form {
		text-align: center;

		input {
			width: 98%;
			padding-left: 2%;
			height: 35px;
			font-size: 16px;
			margin-bottom: 30px;
		}

		.btn {
			display: inline-block;
			width: 100%;
			padding-left: 3%;
			height: 35px;
			font-size: 16px;
			background: white;
			text-align: left;
			cursor: pointer;
			border: 0;
		}

		a.btn {
			color: black;
			width: 97%;
			line-height: 35px;
			text-decoration: none;
			margin-bottom: 20px;
		}

		.facebook, .google {
			display: inline-block;
			text-align: left;
			width: 97%;
			height: 30px;
			padding: 7px 0;
			padding-left: 3%;
			line-height: 20px;
			border-radius: 8px;
			font-size: 18px;
			letter-spacing: 0.5px;
			margin-bottom: 30px;

			img {
				height: 100%;
				vertical-align: -40%;
			}
		}

		.facebook {
			background: #3b5998;
			text-indent: 8px;

			img {
				margin-right: 8px;

			}
		}

		.google {
			background: #dc4e41;
		}

		a {
			color: white;
		}
	}
}


// 關於迴響

.about {
	position: relative;
	width: 60%;
	padding-left: 10%;
	padding-top: 150px;
	font-size: 20px;
	line-height: 32px;

	// height: 500px;
	// background: red;
	.H {
		font-size: 28px;
		margin-left: 4px;
	}

	.HH {
		font-size: 38px;
		line-height: 50px;
	}
}

.iconSet {
	position: absolute;
	right: 0;
	top: 100px;
	width: 60%;
	font-size: 22px;
	letter-spacing: 1px;
	text-indent: 1px;

	// height: 500px;
	// background: red;

	a {
		color: white;
		text-decoration: none;
	}

	.actionIcon {
		position: absolute;
		cursor: not-allowed;
		top: 0;
		right: 300px;

		&:hover {
			opacity: 0.6;
		}
	}
	.stepIcon {
		position: absolute;
		cursor: pointer;
		top: 100px;
		right: 150px;

		&:hover {
			opacity: 0.6;
		}
	}
	.spiritIcon {
		position: absolute;
		cursor: pointer;
		top: 100px;
		right: 450px;

		&:hover {
			opacity: 0.6;
		}
	}
	.triangleIcon {
		position: absolute;
		cursor: not-allowed;
		top: 250px;
		right: 450px;

		&:hover {
			opacity: 0.6;
		}
	}
	.bookIcon {
		position: absolute;
		cursor: pointer;
		top: 250px;
		right: 150px;

		&:hover {
			opacity: 0.6;
		}
	}
	.timeIcon {
		position: absolute;
		cursor: pointer;
		top: 380px;
		right: 300px;

		&:hover {
			opacity: 0.6;
		}
	}
}


// 三大價值主張

.spirit {
	position: relative;
	padding: 0 5%;
	padding-top: 110px;
	padding-bottom: 80px;
	width: 90%;
	text-align: center;

	.topic {
		position: relative;
		width: 100%;
		font-size: 28px;
		margin-bottom: 70px;
	}

	.each {
		display: inline-block;
		margin: 0 60px;
		width: 230px;
		text-align: left;
		vertical-align: top;
		margin-bottom: 70px;

		img {
			margin-bottom: 50px;
		}
	}
}

.step {
	position: relative;
	padding: 0 12%;
	padding-top: 120px;
	padding-bottom: 150px;

	.title {
		position: relative;
		text-align: center;
		width: 100%;
		font-size: 30px;
		line-height: 42px;
		margin-bottom: 50px;

		.intro {
			font-size: 16px;
		}
	}

	.each {
		.picture {
			position: relative;
			display: inline-block;
			border-right: 1px white solid;
			width: 24%;
			padding-bottom: 120px;
			margin: 0;

			img {
				width: 60%;
			}
		}

		.content {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 72%;
			// background: black;

			.text {
				display: inline-block;
				margin-top: 50px;
				width: 25%;
				margin-left: 20%;
				font-size: 16px;
				line-height: 22px;
				// background: red;
			}
		}

	}
}

@media screen and (max-width: 650px) {

	.step {
		padding-left: 10%;
		padding-right: 10%;

		.each {
			.picture {
				width: 30%;

				img {
					width: 80%;
				}
			}
			.content {
				width: 65%;

				.text {
					display: block;
					margin-top: 0px;
					width: 100%;
				}

				.text+.text {
					margin-top: 20px;
				}
			}
		}
	}
}


.time {
	position: relative;
	// padding: 0 12%;
	padding-left: 12%;
	padding-top: 150px;
	padding-bottom: 150px;

	.each {
		.content {
			position: relative;
			display: inline-block;
			border-right: 1px white solid;
			width: 55%;
			padding-bottom: 100px;

			.text {
				position: absolute;
				display: inline-block;
				vertical-align: 150%;
				width: 45%;
				right: 15%;
				font-size: 15px;
				line-height: 20px;

				h1 {
					font-size: 20px;
					line-height: 28px;
				}
			}
		}

		.day {
			display: inline-block;
			vertical-align: top;
			// background: red;
			width: 25%;
			padding-left: 8%;
			font-size: 16px;
			line-height: 22px;

			.right {
				text-indent: 30px;
			}
		}
	}
}

@media screen and (max-width: 650px) {

	.time {
		padding-left: 0%;

		.each {

			.content {
				width: 50%;
				padding-bottom: 400px;

				img {
					display: none;
				}

				.text {
					width: 70%;
					right: 10%;
				}
			}
			.day {
				width: 200px;
				position: absolute;
				right: 0;
			}
		}
	}
}


.flipbook-viewport {
	margin-top: 150px;
}




// 活動辦法

.QandA {
	position: relative;
	padding-top: 120px;

	.Q {
		position: relative;
		font-size: 19px;
		width: 86%;
		left: 7%;
		margin-bottom: 20px;
		cursor: pointer;

		.topic {
			border: 2px white solid;
			width: 97%;
			padding: 15px 0;
			padding-left: 3%;
		}

		.arrow {
			position: absolute;
			right: 30px;
		}

		.A {
			width: 94%;
			margin-top: 15px;
			padding: 15px 3%;
			border: 2px white solid;
			height: 0;
			font-size: 17px;
			line-height: 22px;
			overflow: hidden;
			animation-name: QandA;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			display: none;
			cursor: auto;
		}
	}
}

@keyframes QandA {
	from {
		padding: 0 3%;
	 	height: 0;
	}

	to {
		padding: 15px 3%;
	 	height: 120px;
	}
}




// 行動大使

.actionPartner {
	position: relative;
	width: 90%;
	padding: 0 5%;
	padding-top: 120px;
	padding-bottom: 120px;
	text-align: center;

	.individual {
		position: relative;
		display: inline-block;
		width: 235px;
		height: 220px;
		margin: 20px;
		vertical-align: top;
		text-decoration: none;
		color: black;
		overflow: hidden;

		// for img
		font-size: 190px;
		line-height: 190px;

		border: 2px black solid;

		.name {
			position: relative;
			font-size: 16px;
			line-height: 18px;
			padding: 7px 0;
			top: 0;

			background: white;
			border-bottom: 2px black solid;
		}

		img {
			max-width: 100%;
			// max-height: 100%;
		}

		.readMore {
			position: absolute;
			right: -52px;
			bottom: -52px;
			width: 100px;
			height: 100px;
			font-size: 13px;
			line-height: 18px;
			transform: rotate(-45deg);

			color: black;
			text-decoration: none;
			background: white;
			border: 2px black solid;
		}
	}
}

.attention {
	position: relative;
	padding: 0 22%;
	padding-top: 105px;
	padding-bottom: 120px;

	.title {
		width: 100%;
		text-align: center;
		font-size: 26px;
		letter-spacing: 5px;
		color: $lightGreen;
		font-weight: bold;
	}

	ul {
		margin-top: 50px;
		padding-left: 12%;
		width: 80%;
		// background: red;

		i {
			position: absolute;
			margin-left: -45px;
			font-size: 35px;
			font-weight: bold;
			font-style: italic;
			color: $lightGreen;
		}

		li {
			list-style-type: none;
			font-size: 16px;
			font-weight: lighter;
			letter-spacing: 1px;
			line-height: 28px;
			margin-bottom: 40px;
		}
	}

	.btnArea {
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: 65px;

		.btn {
			position: relative;
			padding: 11px 28px;
			font-size: 16px;
			letter-spacing: 3px;
			color: $lightGreen;
			border: 1.5px solid $lightGreen;
			border-radius: 30px;
			cursor: pointer;
			text-decoration: none;

			&:hover {
				background: $lightGreen;
				color: $green;
			}
		}
	}
}

.form {
	position: relative;
	padding: 150px 0%;
	padding-bottom: 0;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	line-height: 28px;
	color: $grey;

	.greenBackground {
		padding: 0 12%;
	}

	.greyBackground {
		background: $grey;
		padding: 0 12%;
		padding-top: 120px;
		padding-bottom: 120px;
		color: $green;

		h1 {
			color: $green;
			letter-spacing: 1px;
		}

		input {
			border-color: $orange;
			font-size: 18px;
			letter-spacing: 0px;
			color: $orange;
		}

		::placeholder {
			color: $orange;
		}

		textarea {
			width: 92%;
			padding-left: 10px;
			height: 70px;
			padding-top: 10px;
			font-size: 16px;
			margin-top: 12px;

			background: rgba(255, 255, 255, 0);
			border: 2px solid $orange;
			color: $orange;
		}

		.file {
			position: relative;
			display: inline-block;
			padding: 0px;
			padding-top: 0px;
			margin-right: 10%;
			margin-top: 20px;
			margin-bottom: 20px;
			width: 280px;
			height: 240px;
			border: 2px solid $orange;
			text-align: center;
			vertical-align: top;

			.preview {
				max-width: 250px;
				max-height: 250px;
			}

			input[type=file] {
				position: absolute;
				left: 0;
				top: -15px;
				// display: none;
				padding: 0px;
				font-size: 16px;
				width: 100%;
				height: 100%;
				// text-indent: -100%;
				border-color: $green;
				color: $green;
				// border-radius: 30px;
				margin-right: -3px;
				background: red;
				opacity: 0;
				z-index: 2;
			}

			.btn {
				position: absolute;
				left: 43%;
				bottom: 20px;
				width: 100px;
				margin-left: -50px;
				padding: 10px 20px;
				border: 2px solid $green;
				border-radius: 30px;
				color: $green;
			}

			&:hover {
				.btn {
					background: $green;
					color: $grey;
				}
			}
		}
		select {
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			font-size: 16px;
			width: 200px;
			margin-top: 10px;
			// background: transparent;
			padding: 10px;
			// padding-right: 20px;
			border: 2px solid $orange;
			border-radius: 0;
			color: $orange;
			background: image-url("proposal/orangeTriangle.png") no-repeat scroll right center transparent;
		}
	}

	.title {
		position: absolute;
		// width: 100%;
		right: 3%;
		text-align: right;
		font-size: 24px;
		letter-spacing: 4px;
		line-height: 30px;

		b {
			font-size: 34px;
			font-weight: bold;
		}
	}

	.right {
		margin-left: 4%;
	}

	h1 {
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 4px;
		color: $lightGreen;
		margin-bottom: 5px;
	}

	.noColor {
		color: $grey;
		text-indent: -8px;
		margin-bottom: 15px;
	}

	input {
		margin: 15px 8%;
		margin-left: 0;
		padding-left: 10px;
		width: 36%;
		height: 42px;
		font-size: 22px;
		background: rgba(255, 255, 255, 0);
		border: 2px solid $grey;
		letter-spacing: 1px;
		color: $grey;
	}

	::placeholder {
		color: $grey;
	}

	select {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		font-size: 16px;
		width: 91px;
		margin-top: 10px;
		// background: transparent;
		padding: 10px;
		// padding-right: 20px;
		border: 2px solid $grey;
		border-radius: 0;
		color: $grey;
		background: image-url("proposal/greyTriangle.png") no-repeat scroll right center transparent;
	}

	.intro {
		display: inline-block;
		width: 45%;
		vertical-align: top;
		font-size: 14px;
		line-height: 22px;

		li {
			margin-left: 20px;
		}
	}

	@media screen and (max-width: 850px) {
		.intro {
			width: 80% !important;
		}
	}

	.wide {
		width: 92%;
	}

	.btnSet {
		position: relative;
		text-align: center;
		margin-top: 50px;
		width: 100%;

		.btn {
			display: inline-block;
			width: 150px;
			height: 48px;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 1px;
			margin: 0 20px;
			margin-bottom: 20px;
			cursor: pointer;
			background: transparent;
			border: 2px solid $green;
			border-radius: 30px;
			vertical-align: top;
			color: $green;

			&:hover {
				background: $green;
				color: $grey;
			}
		}

		.btn+.btn {
			border-color: #fd625c;
			color: #fd625c;

			&:hover {
				background: #fd625c;
				color: $grey;
			}
		}

		a {
			line-height: 48px;
			text-decoration: none;
		}
	}
}

.wall {
	position: relative;
	padding-top: 240px;
	padding-bottom: 100px;
	text-align: center;

	.title {
		font-size: 24px;
		line-height: 38px;
		letter-spacing: 4px;
		color: $lightGreen;
		margin-bottom: 35px;

		b {
			font-size: 32px;
		}
	}

	.subTitle {
		font-size: 24px;
		letter-spacing: 4px;
		margin-bottom: 60px;
		font-weight: lighter;
	}

	.proposal {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 280px;
		// height: 400px;
		margin: 0px 2.5%;
		margin-bottom: 100px;
		line-height: 20px;
		cursor: pointer;
		color: white;
		text-decoration: none;
		background: $green;
		border: 4px solid white;
		border-radius: 4px;

		.HWM {
			position: relative;
			padding: 20px;
			text-align: left;
			color: $yellow;
			font-weight: bold;
			letter-spacing: 1px;
		}

		.picture {
			position: relative;
			width: 100%;
			height: 280px;
			// border-radius: 50%;
			overflow: hidden;
			// background: blue;
			margin-bottom: 20px;

			.content {
				position: absolute;
				top: 0;
				font-size: 14px;
				line-height: 18px;
				padding: 25px;
				text-align: left;
				z-index: 2;
				opacity: 0;

				.name {
					width: 100%;
					text-align: center;
					margin-top: 30px;
					margin-bottom: 60px;
					font-size: 16px;
				}
			}

			img {
				height: 100%;
			}
		}

		.sentence {
			position: relative;
			font-size: 14px;
			font-weight: bold;
			width: 76%;
			left: 0%;
			bottom: 0;
			text-align: center;
			// font-size: 18px;
			padding-bottom: 16px;
			color: $lightGreen;
		}

		.location {
			position: absolute;
			font-size: 14px;
			font-weight: bold;
			right: 20px;
			margin-top: -40px;
			color: $lightGreen;

			img {
				vertical-align: middle;
			}
		}

		&:hover {
			.picture {
				img {
					transition-duration: 0.5s;
					filter: grayscale(100%) blur(8px) brightness(50%);
				}
				.content {
					transition-duration: 0.5s;
					opacity: 1;
				}
			}
		}
	}
}

.proposalPage {
	position: relative;
	padding: 0 10%;
	padding-top: 180px;
	padding-bottom: 150px;
	font-size: 20px;


	.title {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.map {
		position: relative;
		display: inline-block;
		width: 63%;
		margin-left: -20px;
		margin-top: 50px;

		.mapImg {
			position: absolute;
			width: 25%;
			top: 100px;
		}

		.dialogImg {
			position: absolute;
			width: 80%;
			left: 20%;
		}

		.dialog {
			position: absolute;
			font-size: 18px;
			letter-spacing: 1px;
			line-height: 26px;
			width: 50%;
			top: 50px;
			left: 40%;
		}
	}

	.picture {
		display: inline-block;
		margin-left: 2%;
		width: 33%;

		img {
			width: 100%;
			vertical-align: top;
		}
	}

	.quote {
		position: relative;
		margin-top: 70px;
		width: 40%;
		left: 7%;
		text-align: center;
		// background: red;

		img {
			position: absolute;
			left: 0;
			top: -16px;
			width: 30px;
		}
		img+img {
			top: 0;
			left: 95%;
		}
	}
}

@media screen and (max-width: 1024px) {
	.proposalPage {
		.map {
			width: 110%;
			margin-left: -45px;

			.mapImg {
				display: none;
			}
			.dialogImg {
				position: relative;
				width: 100%;
				left: 0;
			}
			.dialog {
				position: absolute;
				width: 65%;
				left: 24%;
			}
		}
		.picture {
			display: none;
		}
		.quote {
			width: 86%;
		}
	}
}


@media screen and (max-width: 1024px) {

}
